{% extends "layout.html" %}

{% block content %}
    <div class="hero-unit">
        <h1>'Allo, 'Allo!</h1>
        <h2>Welcome to <%= package.name %></h2>
        <h3><%= package.description %></h3>
        <p class="statement">You now have:</p>
        <ul>
            <li>Flask Application</li>
            <li>Flask Commands</li>
            <li>Templates with Layout</li>
            <li>Flask Debug Toolbar</li>
            <li>Authentication</li>
            <li>Mongo Engine models</li>
            <li>Coffeescript and Compass</li>
            <li>Bower support</li>
            <li>Automatic spriting</li>
            <li>Flask CDN Support</li>
        </ul>
    </div>
{% endblock content %}
