<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{% block title %}<%= package.name %>{% endblock %}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

        {% assets "css_all" %}
            <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}">
        {% endassets %}

        {% block css %}{% endblock %}
    </head>
    <body>
        <div class="container main-window {% block extra_class %}{% endblock %}">
            {% block content %}{% endblock %}
        </div>
        {% assets "js_all" %}
            <script type="text/javascript" src="{{ ASSET_URL }}"></script>
        {% endassets %}
    </body>
</html>
