{% extends "layout.html" %}

{% block content %}
    <div class="hero-unit">
        <h3>Authenticate with:</h3>
        <ul>
            <% if (package.flask.authProviders.facebook) { %>
            <li><a href="/auth/login/fb">Facebook</a></li>
            <% } %>
            <% if (package.flask.authProviders.google) { %>
            <li><a href="/auth/login/google">Google</a></li>
            <% } %>
            <% if (package.flask.authProviders.twitter) { %>
            <li><a href="/auth/login/twitter">Twitter</a></li>
            <% } %>
            <% if (package.flask.authProviders.github) { %>
            <li><a href="/auth/login/github">Github</a></li>
            <% } %>
        </ul>
    </div>
{% endblock content %}
